<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>This app uses the camera to scan food and analyze nutritional content.</string>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
